name: Publish to PyPI

permissions:
  contents: write
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Set version from tag
        run: |
          echo "${{ github.ref_name }}" > launcher_core/version.txt
      
      - name: Commit version.txt to main
        if: github.ref == 'refs/heads/main' || github.event_name == 'release'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add launcher_core/version.txt
          git commit -m "chore: update version.txt to ${{ github.ref_name }}" || echo "No changes to commit"
          git push origin HEAD:main

      - name: Install uv
        run: python -m pip install uv

      - name: Build application
        run: uv build

      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}